.main{
    display: flex;
    flex-direction: row;
   
   
}
.trendtext{
   
    width: 80%;
}
.morePop{
    width: 20%;
    
   
    display: flex;
    align-self:center;
    justify-content: center;
}